@import '../../styles/variables.style.scss';

.landing__container {
  display: flex;
  height: 100%;

  align-items: center;
  justify-content: center;
  flex-direction: column;

  //   background: linear-gradient($offWhite, $lightPink);
  overflow-x: hidden;
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-image: url( 'https://images.unsplash.com/photo-1500534623283-312aade485b7?auto=format&fit=crop&w=1350&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D' );
  // background-image: url( 'https://images.unsplash.com/photo-1428452932365-4e7e1c4b0987?auto=format&fit=crop&w=1650&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D' );

  .landing__title {
    transform: translateY(-50px);
    align-self: center;
    z-index: 10;
  }

  .landing__footer {
    position: absolute;
    bottom: 0px;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: $backgroundDark;
  }

  .landing__footer_text {
    color: $backgroundWhite;
    margin-left: 8px;
    margin-right: 6px;
    letter-spacing: 0.333em;
  }

  //color swatches
  .landing__color-block {
    display: inline-block;
    margin-left: 12px;
    height: 50px;
    width: 50px;
  }
}

.ecru {
  background-color: $ecru;
}

.olive {
  background-color: $olive;
}

.plum {
  background-color: $plum;
}

.ocean {
  background-color: $ocean;
}

.oxblood {
  background-color: $oxblood;
}
