@import '../../styles/variables.style.scss';

.Header__container {
  display: flex;
  justify-content: space-between;
  background-color: $backgroundDark;
  position: absolute;
  top: 0px;

  width: 100%;
  height: $headerHeight;

  z-index: 100;

  transition: background-color 0.75s;

  &.landing {
    background-color: transparent;
  }

  .Header__logo {
    // position: absolute;
    flex: 1;
    height: 100px;
    transform: translateY(17px);
    transition: opacity 0.75s;

    &.landing {
      opacity: 0;
    }
  }

  .nav-container {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    font-size: 1.25em;
    margin-top: 10px;
    // margin-right: 20px;
    // padding: 4px 10px;
  }

  .nav-link {
    color: $backgroundWhite;
    text-decoration: none;
    transition: color 0.75s;
    margin-right: 6px;

    &.landing {
      color: #333;
    }
  }
}
