@import '../../styles/variables.style.scss';
@import '../../styles/mixins.style.scss';

.Header__container {
  display: flex;
  justify-content: space-between;
  background-color: $backgroundDark;
  position: absolute;
  top: 0px;

  width: 100%;
  height: $headerHeight;

  z-index: 100;

  transition: background-color 0.75s;

  &.landing {
    background-color: transparent;
  }

  .Header__logo-container {
    display: flex;
    justify-content: center;
  }

  .Header__logo {
    height: 100px;
    transform: translateY(17px);
    transition: opacity 0.75s;

    &.landing {
      opacity: 0;
    }
  }

  .Header__spacer {
    flex: 1;
  }
}
