@import '../../styles/variables.style.scss';

.Header__container {
  display: flex;
  justify-content: flex-end;

  position: absolute;
  top: 0px;

  width: 100%;
  height: 40px;

  z-index: 100;

  .nav-container {
    font-size: 1.333em;
    margin-top: 10px;
    margin-right: 15px;
    padding: 4px 10px;
  }

  .nav-link {
    color: $backgroundWhite;
    text-decoration: none;
    transition: color 0.75s;

    &.landing {
      color: #333;
    }
  }
}
