.fade-enter {
    transform: translateY( 100% );
    opacity: 0.5;
    z-index: 1;
    position: absolute;
}

.fade-enter.fade-enter-active {
    transform: translateY( 0% );    
    opacity: 1;
    transition: opacity 800ms ease-in, transform 800ms;
}

.fade-exit {
    transform: translateY( 0% );
    
    z-index: 0;    
    opacity: 1;
    position: absolute;    
}

.fade-exit.fade-exit-active {
    transform: translateY( -100% );
    
    opacity: 0.5;
    transition: opacity 800ms ease-in, transform 800ms;
}