@import '../../styles/variables.style.scss';
@import '../../styles/mixins.style.scss';

.RSVPForm__form {
  .RSVPForm__input-row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-bottom: 8px;
  }

  input {
    font-size: 18px;
    outline: none;
    color: $textDark;
    height: 30px;
    border: 3px solid $textDark;
  }

  input[type='checkbox'] {
    outline: none;
    color: $textDark;
    height: 30px;
    border: 3px solid $textDark;
  }

  input[type='text'] {
    padding: 0px 8px;
    width: 100%;
    border: 3px solid $textDark;
    // background-color: $backgroundWhite;
  }

  .input__select {
    position: relative;
    padding: 0px 8px;
    width: 100%;
    border: 3px solid $textDark;
    font-size: 18px;
    outline: none;
    color: $textDark;
    height: 30px;
  }

  .InputSelect__options {
    position: absolute;
    // padding: 0px 8px;
    // box-sizing: border-box;
    z-index: 10;
    width: 100%;
    background-color: white;
    border-bottom: 3px solid $textDark;
    border-right: 3px solid $textDark;
    border-left: 3px solid $textDark;
    display: none;

    &.active {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }

  .InputSelect__options-item {
    width: 100%;
    padding: 2px 2px;
    cursor: pointer;
    box-sizing: border-box;
    transition: color 200ms, background-color 250ms;

    &:nth-child(odd) {
      background-color: lighten($backgroundWhite, 3%);
    }

    &:hover {
      color: white;
      background-color: $sophieOrange;
    }
  }

  .InputSelect__info {
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: center;
    padding: 8px;
  }

  .InputSelect__loading-icon {
    font-size: 72px;
    color: $sophieOrange;
    position: absolute;
    right: 0px;
    top: 6px;
    animation-name: loader;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 500ms;
  }

  input[type='submit'] {
    padding-top: 4px;
    cursor: pointer;
    height: 36px;
    min-width: 100px;
    background-color: white;
    transition: background-color 250ms, color 250ms;

    &:hover {
      color: white;
      background-color: $treeGreen;
    }
  }
}

@keyframes loader {
  0% {
    transform: translateX(0px);
  }

  40% {
    transform: scale(1, 1);
  }

  50% {
    transform: translateX(10px) scale(1.5, 0.5);
  }

  60% {
    transform: scale(1, 1);
  }

  100% {
    transform: translateX(-20px);
  }
}
