@import '../../styles/variables.style.scss';
@import '../../styles/mixins.style.scss';

.RSVPForm__form {
  input {
    outline: none;
    color: $textDark;
    height: 30px;
    border: 3px solid $textDark;
  }

  input[type='checkbox'] {
    outline: none;
    color: $textDark;
    height: 30px;
    border: 3px solid $textDark;
  }

  input[type='text'] {
    width: 100%;
    border: 3px solid $textDark;
    // background-color: $backgroundWhite;
  }

  input[type='submit'] {
    height: 36px;
    min-width: 100px;
  }
}
