@import './variables.style.scss';
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Slab');

//default text color
p,
h1,
h2,
h3,
h4,
input {
  color: $textDark;
}

a {
  color: $sophieOrange;
}

a:visited {
  color: $sophieOrange;
}

#root {
  height: 100%;
}

html {
  height: 100%;
  background-color: $backgroundWhite;
}

input {
  font-family: 'Josefin Slab', serif;
}

body {
  background-color: $backgroundWhite;
  font-family: 'Josefin Slab', serif;
  font-size: 18px;
  line-height: 1.66em;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.spacer {
  height: 14px;
  margin-top: 16px;
  margin-bottom: 6px;
}