//FALL COLORS
// $darkBlue: #322f4d;
// $darkPurple: #36233e;
// $red: #a85359;
// $muave: #e4a489;
// $offWhiteLight: #f7f5f2;

$ecruLight: #f5f3ee;
$ecru: #e3ddcd;
$olive: #aaada0;
$ocean: #7c989b;
$plum: #62434b;
$oxblood: #340b14;

$darkPurple: #40475A;
$darkBlue: #44526a;
$mediumPurple: #848097;
$lightPurple: #B7ABBA;
$lightPink: #dbcacc;
$offWhite: #E3DEDA; 