@import '../../styles/variables.style.scss';

.Activities__container {
    width: 100%;
    height: 100%;
    background: linear-gradient( $offWhite, $lightPurple );
    // background-color: $lightPurple;
    overflow-y: auto;

    p {
        color: $ecruLight;
    }
}