@import '../../styles/variables.style.scss';
@import '../../styles/mixins.style.scss';

.DropdownSelect__wrapper {
  display: flex;
  width: 270px;
  align-items: flex-end;

  .DropdownSelect__dropdown {
    position: relative;
    flex: 1;
    display: flex;
    height: 30px;
    border: 3px solid $textDark;
    background-color: white;
  }

  .DropdownSelect__label {
    flex: 2;
    margin-left: 8px;
  }

  .DropdownSelect__value {
    flex: 3;
    display: flex;
    justify-content: center;
  }

  .DropdownSelect__options {
    position: absolute;
    left: -3px;
    top: 33px;
    // box-sizing: border-box;
    z-index: 10;
    width: 100%;
    background-color: white;
    border-bottom: 3px solid $textDark;
    border-right: 3px solid $textDark;
    border-left: 3px solid $textDark;
    display: none;

    &.active {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }

  .DropdownSelect__options-item {
    width: 100%;
    padding: 2px 2px;
    cursor: pointer;
    box-sizing: border-box;
    transition: color 200ms, background-color 250ms;

    &:nth-child(odd) {
      background-color: lighten($backgroundWhite, 3%);
    }

    &:hover {
      color: white;
      background-color: $sophieOrange;
    }
  }

  .DropdownSelect__toggle {
    flex: 2;
    display: flex;
    justify-content: center;
    border-left: 2px solid $textDark;
    background-color: $mountainBrown;
    color: white;
    cursor: pointer;
  }
}
