@import '../../styles/variables.style.scss';

.Registry__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  //   background: linear-gradient($lightPurple, $lightPink);
  background-color: $backgroundWhite;
  overflow-y: auto;

  .Registry__title {
    font-size: 1.33em;
    margin-top: 75px;
  }

  .Registry__text {
    width: 550px;
    margin-top: 45px;

    p {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}
