@import '../../styles/variables.style.scss';

.Registry__container{
    width: 100%;
    height: 100%;
    // background-color: $darkPurple;
    background: linear-gradient( $mediumPurple, $darkPurple );

    overflow-y: auto;
}