@import '../../styles/variables.style.scss';
@import '../../styles/mixins.style.scss';

.Registry__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: $backgroundWhite;
  overflow-y: auto;

  .Registry__title {
    font-size: 1.33em;
    margin-top: calc(#{$headerHeight} + 125px);
  }

  .Registry__button-container {
    margin-top: 12px;
    margin-bottom: 124px;
    display: flex;
    justify-content: space-between;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      padding: 12px 4px 4px 4px;
      color: $textDark;
      border: 3px solid $textDark;
      padding-top: 4px;
      cursor: pointer;
      height: 36px;
      min-width: 184px;
      background-color: white;
      transition: background-color 250ms, color 250ms;
      border-radius: 0;

      &:hover {
        color: white;
        background-color: $treeGreen;
      }

      @include phablet {
        margin-top: 12px;
      }
    }

    @include phablet {
      flex-direction: column;
    }
  }

  .Registry__text {
    width: 550px;
    margin-top: 50px;

    p {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    @include phablet {
      width: 450px;
    }

    @include phone {
      width: 300px;
    }
  }
}
